@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.section-b {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    color: white;
}

.main {
    margin-top: 30px;
    border-radius: 10px;
    color: black;
}

.main img {
    border-radius: 10px;
    width: 100%;
}

.sidebar {
    background: black;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.sidebar ul {
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-menu {
    border-radius: 10px;
}

.sidebar a:hover,
footer a:hover {
    color: gray;
}

.content a {
    color: black;
    text-decoration: none;
}

.nav-link {
    color: white;
}

.nav-item a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: white;
}

.nav-item a:after {
    display: block;
    content: "";
    background-color: white;
    height: 1px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav-item a:hover:after,
.nav-item a:focus:after {
    width: 100%;
}

.card {
    border-radius: 10px;
}

.card a {
    text-decoration: none;
    text-align: center;
}

.card:hover {
    border: 1px solid gray;
    box-shadow: 0 0 5px gray;
}

footer {
    padding-top: 30px;
    margin-top: 30px;
}

footer a {
    padding-top: 30px;
    color: white;
    text-decoration: none;
}

.login {
    width: 80%;
}